# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


# custom ignoring patterns
*_ignored*
*_ig*
*_old.py


.ipynb_checkpoints/

__pycache__/

networks/
networks/iw51.xml
image.img
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
papers/uai23/postprocess/results/ace-cc-xaa-single.csv
papers/uai23/postprocess/results/ace-cc-xab-single.csv
papers/uai23/postprocess/results/ace-cc-xac-single.csv
papers/uai23/postprocess/results/ace-cc-xad-single.csv
papers/uai23/postprocess/results/ace-cc-xae-single.csv
papers/uai23/postprocess/results/ace-cc-xaf-single.csv
papers/uai23/postprocess/results/ace-cc-xag-single.csv
papers/uai23/postprocess/results/ace-cc-xah-single.csv
papers/uai23/postprocess/results/ace-cc-xai-single.csv
papers/uai23/postprocess/results/ace-cc-xaj-single.csv
papers/uai23/postprocess/results/ace-cc.csv
papers/uai23/postprocess/results/ace-xaa-simple.csv
papers/uai23/postprocess/results/ace-xab-simple.csv
papers/uai23/postprocess/results/ace-xac-simple.csv
papers/uai23/postprocess/results/ace-xad-simple.csv
papers/uai23/postprocess/results/ace-xae-simple.csv
papers/uai23/postprocess/results/ace-xaf-simple.csv
papers/uai23/postprocess/results/ace-xag-simple.csv
papers/uai23/postprocess/results/ace-xah-simple.csv
papers/uai23/postprocess/results/ace-xai-simple.csv
papers/uai23/postprocess/results/ace-xaj-simple.csv
papers/uai23/postprocess/results/bve-cc-xaa-single.csv
papers/uai23/postprocess/results/bve-cc-xab-single.csv
papers/uai23/postprocess/results/bve-cc-xac-single.csv
papers/uai23/postprocess/results/bve-cc-xad-single.csv
papers/uai23/postprocess/results/bve-cc-xae-single.csv
papers/uai23/postprocess/results/bve-cc-xaf-single.csv
papers/uai23/postprocess/results/bve-cc-xag-single.csv
papers/uai23/postprocess/results/bve-cc-xah-single.csv
papers/uai23/postprocess/results/bve-cc-xai-single.csv
papers/uai23/postprocess/results/bve-cc-xaj-single.csv
papers/uai23/postprocess/results/bve-cc-xak-single.csv
papers/uai23/postprocess/results/bve-cc-xal-single.csv
papers/uai23/postprocess/results/bve-cc-xam-single.csv
papers/uai23/postprocess/results/bve-cc-xan-single.csv
papers/uai23/postprocess/results/bve-cc-xao-single.csv
papers/uai23/postprocess/results/bve-cc-xap-single.csv
papers/uai23/postprocess/results/bve-cc-xaq-single.csv
papers/uai23/postprocess/results/bve-cc-xar-single.csv
papers/uai23/postprocess/results/bve-cc-xas-single.csv
papers/uai23/postprocess/results/bve-cc-xat-single.csv
papers/uai23/postprocess/results/bve-cc.csv
papers/uai23/postprocess/results/bve-xaa-simple.csv
papers/uai23/postprocess/results/bve-xab-simple.csv
papers/uai23/postprocess/results/bve-xac-simple.csv
papers/uai23/postprocess/results/bve-xad-simple.csv
papers/uai23/postprocess/results/bve-xae-simple.csv
papers/uai23/postprocess/results/bve-xaf-simple.csv
papers/uai23/postprocess/results/bve-xag-simple.csv
papers/uai23/postprocess/results/bve-xah-simple.csv
papers/uai23/postprocess/results/bve-xai-simple.csv
papers/uai23/postprocess/results/bve-xaj-simple.csv
papers/uai23/postprocess/ratios.csv
papers/uai23/postprocess/relative_data.csv
papers/uai23/postprocess/full_fixed_output.csv.bz2
papers/uai23/postprocess/full_fixed_output.csv.gz
